<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="C:\Logs\RRHH" />
	<variable name="logFileName" value="mi-servicio-log" />
	<targets>
		<!-- Archivo: ruta relativa al ejecutable -->
		<target name="file" xsi:type="File"
			   fileName="${logDirectory}/${date:format=yyyy/MM/dd}/${logFileName}.log"
				createDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Consola: solo para ver si funciona -->
		<target name="console" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
